<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="EmpresaViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewEmpresaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:EmpresaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="EmpresaViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{empresaController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_idEmpresa}"/>
                            <h:outputText value="#{empresaController.selected.idEmpresa}" title="#{myBundle.ViewEmpresaTitle_idEmpresa}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprNombre}"/>
                            <h:outputText value="#{empresaController.selected.emprNombre}" title="#{myBundle.ViewEmpresaTitle_emprNombre}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprTelefono}"/>
                            <h:outputText value="#{empresaController.selected.emprTelefono}" title="#{myBundle.ViewEmpresaTitle_emprTelefono}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprFax}"/>
                            <h:outputText value="#{empresaController.selected.emprFax}" title="#{myBundle.ViewEmpresaTitle_emprFax}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprSkype}"/>
                            <h:outputText value="#{empresaController.selected.emprSkype}" title="#{myBundle.ViewEmpresaTitle_emprSkype}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprWhatsapp}"/>
                            <h:outputText value="#{empresaController.selected.emprWhatsapp}" title="#{myBundle.ViewEmpresaTitle_emprWhatsapp}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewEmpresaLabel_emprCorreo}"/>
                            <h:outputText value="#{empresaController.selected.emprCorreo}" title="#{myBundle.ViewEmpresaTitle_emprCorreo}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>