<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.CaracteristicaHeading}..." outcome="/app/caracteristica/index" />
                    <p:menuitem value="#{myBundle.EmpresaHeading}..." outcome="/app/empresa/index" />
                    <p:menuitem value="#{myBundle.FotoHeading}..." outcome="/app/foto/index" />
                    <p:menuitem value="#{myBundle.IdentificacionHeading}..." outcome="/app/identificacion/index" />
                    <p:menuitem value="#{myBundle.InmuebleHeading}..." outcome="/app/inmueble/index" />
                    <p:menuitem value="#{myBundle.InvelementosHeading}..." outcome="/app/invelementos/index" />
                    <p:menuitem value="#{myBundle.InventarioHeading}..." outcome="/app/inventario/index" />
                    <p:menuitem value="#{myBundle.LugarHeading}..." outcome="/app/lugar/index" />
                    <p:menuitem value="#{myBundle.PagoHeading}..." outcome="/app/pago/index" />
                    <p:menuitem value="#{myBundle.PreguntaHeading}..." outcome="/app/pregunta/index" />
                    <p:menuitem value="#{myBundle.ReservaHeading}..." outcome="/app/reserva/index" />
                    <p:menuitem value="#{myBundle.RespuestaHeading}..." outcome="/app/respuesta/index" />
                    <p:menuitem value="#{myBundle.UbicacionHeading}..." outcome="/app/ubicacion/index" />
                    <p:menuitem value="#{myBundle.UsuarioHeading}..." outcome="/app/usuario/index" />
                </p:submenu>
                <p:menuitem value="#{myBundle.Mobile}" outcome="/mobile/index" icon="ui-icon-signal"/>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>