<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CaracteristicaCreateDlg" widgetVar="CaracteristicaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateCaracteristicaTitle}" closeOnEscape="true">

            <h:form id="CaracteristicaCreateForm">

                <h:panelGroup id="display" rendered="#{caracteristicaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_crctNombre}" for="crctNombre" />
                        <p:inputText id="crctNombre" value="#{caracteristicaController.selected.crctNombre}" title="#{myBundle.CreateCaracteristicaTitle_crctNombre}" required="true" requiredMessage="#{myBundle.CreateCaracteristicaRequiredMessage_crctNombre}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_crctDisponible}" for="crctDisponible" />
                        <p:inputText id="crctDisponible" value="#{caracteristicaController.selected.crctDisponible}" title="#{myBundle.CreateCaracteristicaTitle_crctDisponible}" required="true" requiredMessage="#{myBundle.CreateCaracteristicaRequiredMessage_crctDisponible}" size="2" maxlength="2"/>

                        <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_inmuebleCollection}" for="inmuebleCollection" />
                        <p:selectManyMenu id="inmuebleCollection" value="#{caracteristicaController.selected.inmuebleCollection}"  converter="inmuebleConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmuebleCollectionItem"
                                           itemValue="#{inmuebleCollectionItem}"
                                           itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{caracteristicaController.saveNew}" value="#{myBundle.Save}" update="display,:CaracteristicaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('CaracteristicaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('CaracteristicaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
