<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CaracteristicaListForm">

        <p:panel header="#{myBundle.ListCaracteristicaTitle}">
            <p:contextMenu id="CaracteristicaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('CaracteristicaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('CaracteristicaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('CaracteristicaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('CaracteristicaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.CaracteristicaMenuItem_inmuebleCollection}" icon="ui-icon-search"  action="#{caracteristicaController.navigateInmuebleCollection}" disabled="#{caracteristicaController.isInmuebleCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{caracteristicaController.items}"
                         lazy="false"
                         rowKey="#{item.idCaracteristica}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{caracteristicaController.selected}"
                         filteredValue="#{caracteristicaController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{caracteristicaController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idCaracteristica}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CaracteristicaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CaracteristicaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CaracteristicaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idCaracteristica}" filterBy="#{item.idCaracteristica}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCaracteristicaTitle_idCaracteristica}"/>
                    </f:facet>
                    <h:outputText value="#{item.idCaracteristica}"/>
                </p:column>


                <p:column sortBy="#{item.crctNombre}" filterBy="#{item.crctNombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCaracteristicaTitle_crctNombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.crctNombre}"/>
                </p:column>


                <p:column sortBy="#{item.crctDisponible}" filterBy="#{item.crctDisponible}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListCaracteristicaTitle_crctDisponible}"/>
                    </f:facet>
                    <h:outputText value="#{item.crctDisponible}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{caracteristicaController.prepareCreate}" update=":CaracteristicaCreateForm" oncomplete="PF('CaracteristicaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":CaracteristicaViewForm" oncomplete="PF('CaracteristicaViewDialog').show()" disabled="#{empty caracteristicaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":CaracteristicaEditForm" oncomplete="PF('CaracteristicaEditDialog').show()" disabled="#{empty caracteristicaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{caracteristicaController.delete}" update=":growl,datalist" disabled="#{empty caracteristicaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>