<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CaracteristicaViewDlg" widgetVar="CaracteristicaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewCaracteristicaTitle}" closeOnEscape="true">

            <h:form id="CaracteristicaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{caracteristicaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewCaracteristicaLabel_idCaracteristica}"/>
                        <h:outputText value="#{caracteristicaController.selected.idCaracteristica}" title="#{myBundle.ViewCaracteristicaTitle_idCaracteristica}"/>

                        <h:outputText value="#{myBundle.ViewCaracteristicaLabel_crctNombre}"/>
                        <h:outputText value="#{caracteristicaController.selected.crctNombre}" title="#{myBundle.ViewCaracteristicaTitle_crctNombre}"/>

                        <h:outputText value="#{myBundle.ViewCaracteristicaLabel_crctDisponible}"/>
                        <h:outputText value="#{caracteristicaController.selected.crctDisponible}" title="#{myBundle.ViewCaracteristicaTitle_crctDisponible}"/>

                        <h:outputText value="#{myBundle.ViewCaracteristicaLabel_inmuebleCollection}"/>
                        <p:selectManyMenu converter="inmuebleConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{caracteristicaController.selected.inmuebleCollection}"
                                           var="inmuebleCollectionItem"
                                           itemValue="#{inmuebleCollectionItem}"
                                           itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('CaracteristicaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
