<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EmpresaCreateDlg" widgetVar="EmpresaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateEmpresaTitle}" closeOnEscape="true">

            <h:form id="EmpresaCreateForm">

                <h:panelGroup id="display" rendered="#{empresaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprNombre}" for="emprNombre" />
                        <p:inputText id="emprNombre" value="#{empresaController.selected.emprNombre}" title="#{myBundle.CreateEmpresaTitle_emprNombre}" required="true" requiredMessage="#{myBundle.CreateEmpresaRequiredMessage_emprNombre}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprTelefono}" for="emprTelefono" />
                        <p:inputText id="emprTelefono" value="#{empresaController.selected.emprTelefono}" title="#{myBundle.CreateEmpresaTitle_emprTelefono}" required="true" requiredMessage="#{myBundle.CreateEmpresaRequiredMessage_emprTelefono}"/>

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprFax}" for="emprFax" />
                        <p:inputText id="emprFax" value="#{empresaController.selected.emprFax}" title="#{myBundle.CreateEmpresaTitle_emprFax}"/>

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprSkype}" for="emprSkype" />
                        <p:inputText id="emprSkype" value="#{empresaController.selected.emprSkype}" title="#{myBundle.CreateEmpresaTitle_emprSkype}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprWhatsapp}" for="emprWhatsapp" />
                        <p:inputText id="emprWhatsapp" value="#{empresaController.selected.emprWhatsapp}" title="#{myBundle.CreateEmpresaTitle_emprWhatsapp}"/>

                        <p:outputLabel value="#{myBundle.CreateEmpresaLabel_emprCorreo}" for="emprCorreo" />
                        <p:inputText id="emprCorreo" value="#{empresaController.selected.emprCorreo}" title="#{myBundle.CreateEmpresaTitle_emprCorreo}" required="true" requiredMessage="#{myBundle.CreateEmpresaRequiredMessage_emprCorreo}" size="40" maxlength="40"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{empresaController.saveNew}" value="#{myBundle.Save}" update="display,:EmpresaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('EmpresaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('EmpresaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
