<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CaracteristicaCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateCaracteristicaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CaracteristicaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CaracteristicaCreateForm">

                <h:panelGroup id="display" rendered="#{caracteristicaController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_crctNombre}" for="crctNombre" />
                            <p:inputText id="crctNombre" value="#{caracteristicaController.selected.crctNombre}" title="#{myBundle.CreateCaracteristicaTitle_crctNombre}" required="true" requiredMessage="#{myBundle.CreateCaracteristicaRequiredMessage_crctNombre}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_crctDisponible}" for="crctDisponible" />
                            <p:inputText id="crctDisponible" value="#{caracteristicaController.selected.crctDisponible}" title="#{myBundle.CreateCaracteristicaTitle_crctDisponible}" required="true" requiredMessage="#{myBundle.CreateCaracteristicaRequiredMessage_crctDisponible}" size="2" maxlength="2"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateCaracteristicaLabel_inmuebleCollection}" for="inmuebleCollection" />
                            <p:selectManyMenu id="inmuebleCollection" value="#{caracteristicaController.selected.inmuebleCollection}"  converter="inmuebleConverter">
                                <f:selectItems value="#{inmuebleController.items}"
                                               var="inmuebleCollectionItem"
                                               itemValue="#{inmuebleCollectionItem}"
                                               itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                               />

                            </p:selectManyMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{caracteristicaController.saveNew}" value="#{myBundle.Save}" update="display,:CaracteristicaListPage:CaracteristicaListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:CaracteristicaListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>