<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="CaracteristicaViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewCaracteristicaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:CaracteristicaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="CaracteristicaViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{caracteristicaController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewCaracteristicaLabel_idCaracteristica}"/>
                            <h:outputText value="#{caracteristicaController.selected.idCaracteristica}" title="#{myBundle.ViewCaracteristicaTitle_idCaracteristica}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewCaracteristicaLabel_crctNombre}"/>
                            <h:outputText value="#{caracteristicaController.selected.crctNombre}" title="#{myBundle.ViewCaracteristicaTitle_crctNombre}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewCaracteristicaLabel_crctDisponible}"/>
                            <h:outputText value="#{caracteristicaController.selected.crctDisponible}" title="#{myBundle.ViewCaracteristicaTitle_crctDisponible}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewCaracteristicaLabel_inmuebleCollection}"/>
                            <h:selectManyMenu converter="inmuebleConverter">
                                <f:selectItems value="#{caracteristicaController.selected.inmuebleCollection}"
                                               var="inmuebleCollectionItem"
                                               itemValue="#{inmuebleCollectionItem}"
                                               itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                               />

                            </h:selectManyMenu>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>