<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="IdentificacionEditPage" lazy="true">
        <pm:header title="#{myBundle.EditIdentificacionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:IdentificacionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="IdentificacionEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{identificacionController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditIdentificacionLabel_idIdentificacion}" for="idIdentificacion" />
                            <h:outputText id="idIdentificacion" value="#{identificacionController.selected.idIdentificacion}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditIdentificacionLabel_idntNumero}" for="idntNumero" />
                            <p:inputText id="idntNumero" value="#{identificacionController.selected.idntNumero}" title="#{myBundle.EditIdentificacionTitle_idntNumero}" required="true" requiredMessage="#{myBundle.EditIdentificacionRequiredMessage_idntNumero}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditIdentificacionLabel_idntTipo}" for="idntTipo" />
                            <p:inputText id="idntTipo" value="#{identificacionController.selected.idntTipo}" title="#{myBundle.EditIdentificacionTitle_idntTipo}" required="true" requiredMessage="#{myBundle.EditIdentificacionRequiredMessage_idntTipo}" size="10" maxlength="10"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditIdentificacionLabel_empresasIdEmpresa}" for="empresasIdEmpresa" />
                            <p:selectOneMenu id="empresasIdEmpresa" value="#{identificacionController.selected.empresasIdEmpresa}" required="true" requiredMessage="#{myBundle.EditIdentificacionRequiredMessage_empresasIdEmpresa}" converter="empresaConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{empresaController.items}"
                                               var="empresasIdEmpresaItem"
                                               itemValue="#{empresasIdEmpresaItem}"
                                               itemLabel="#{empresasIdEmpresaItem.idEmpresa.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{identificacionController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:IdentificacionListPage:IdentificacionListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:IdentificacionListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>