<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InvelementosEditDlg" widgetVar="InvelementosEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditInvelementosTitle}" closeOnEscape="true">

            <h:form id="InvelementosEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{invelementosController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditInvelementosLabel_idElemento}" for="idElemento" />
                        <h:outputText id="idElemento" value="#{invelementosController.selected.idElemento}" />

                        <p:outputLabel value="#{myBundle.EditInvelementosLabel_ivelNombre}" for="ivelNombre" />
                        <p:inputText id="ivelNombre" value="#{invelementosController.selected.ivelNombre}" title="#{myBundle.EditInvelementosTitle_ivelNombre}" required="true" requiredMessage="#{myBundle.EditInvelementosRequiredMessage_ivelNombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditInvelementosLabel_invelementosCodsubtipo}" for="invelementosCodsubtipo" />
                        <p:selectOneMenu id="invelementosCodsubtipo" value="#{invelementosController.selected.invelementosCodsubtipo}"  converter="invelementosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{invelementosController.items}"
                                           var="invelementosCodsubtipoItem"
                                           itemValue="#{invelementosCodsubtipoItem}"
                                           itemLabel="#{invelementosCodsubtipoItem.idElemento.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{invelementosController.save}" value="#{myBundle.Save}" update="display,:InvelementosListForm:datalist,:InvelementosListForm:InvelementosDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InvelementosEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('InvelementosEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
