<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="InvelementosListForm">

        <p:panel header="#{myBundle.ListInvelementosTitle}">
            <p:contextMenu id="InvelementosDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('InvelementosListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('InvelementosListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('InvelementosListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('InvelementosListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.InvelementosMenuItem_inventarioCollection}" icon="ui-icon-search"  action="#{invelementosController.navigateInventarioCollection}" disabled="#{invelementosController.isInventarioCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.InvelementosMenuItem_invelementosCollection}" icon="ui-icon-search"  action="#{invelementosController.navigateInvelementosCollection}" disabled="#{invelementosController.isInvelementosCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.InvelementosMenuItem_invelementosCodsubtipo}" icon="ui-icon-search"  actionListener="#{invelementosController.prepareInvelementosCodsubtipo}" update=":InvelementosViewForm" oncomplete="PF('InvelementosViewDialog').show()" disabled="#{empty invelementosController.selected.invelementosCodsubtipo}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{invelementosController.items}"
                         lazy="false"
                         rowKey="#{item.idElemento}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{invelementosController.selected}"
                         filteredValue="#{invelementosController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{invelementosController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idElemento}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:InvelementosDataTableContextMenu" listener="#{invelementosController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:InvelementosDataTableContextMenu" listener="#{invelementosController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{invelementosController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('InvelementosListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idElemento}" filterBy="#{item.idElemento}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListInvelementosTitle_idElemento}"/>
                    </f:facet>
                    <h:outputText value="#{item.idElemento}"/>
                </p:column>


                <p:column sortBy="#{item.ivelNombre}" filterBy="#{item.ivelNombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListInvelementosTitle_ivelNombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.ivelNombre}"/>
                </p:column>


                <p:column sortBy="#{item.invelementosCodsubtipo.idElemento}" filterBy="#{item.invelementosCodsubtipo.idElemento}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListInvelementosTitle_invelementosCodsubtipo}"/>
                    </f:facet>
                    <h:outputText value="#{item.invelementosCodsubtipo.idElemento}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{invelementosController.prepareCreate}" update=":InvelementosCreateForm" oncomplete="PF('InvelementosCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":InvelementosViewForm" oncomplete="PF('InvelementosViewDialog').show()" disabled="#{empty invelementosController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":InvelementosEditForm" oncomplete="PF('InvelementosEditDialog').show()" disabled="#{empty invelementosController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{invelementosController.delete}" update=":growl,datalist" disabled="#{empty invelementosController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>