<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ReservaListPage">
        <pm:header title="#{myBundle.ListReservaTitle}">
            <h:form>
                <p:commandButton id="backButton"   styleClass="ui-btn-left  ui-btn-inline" icon="ui-icon-arrow-l" value="#{myBundle.Back}" action="#{mobilePageController.navigateBackInHistory('/mobile/index')}"/>
                <p:commandButton id="createButton" styleClass="ui-btn-right ui-btn-inline" icon="ui-icon-plus"    value="#{myBundle.Create}" update=":ReservaCreatePage:ReservaCreateForm" actionListener="#{reservaController.prepareCreate}" action="#{mobilePageController.navigateWithHistory('pm:ReservaCreatePage')}">
                    <f:actionListener binding="#{currentPageListener}"/>
                </p:commandButton>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ReservaListForm">

                <p:dataList id="datalist"
                            paginator="true"
                            rows="10"
                            rowsPerPageTemplate="10,20,30,40,50"
                            pt:data-inset="true"
                            value="#{reservaController.items}"
                            var="item">

                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle}"/>
                    </f:facet>

                    <p:commandLink update=":ReservaEditPage:ReservaEditForm" action="pm:ReservaEditPage">
                        <p>



                            <h:outputText value="#{item.idReserva}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaFecharealizada}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaFechallegada}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaCheckin}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaCheckout}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaNoche}"/>



                            ,&nbsp;
                            <h:outputText value="#{item.rsvaAdulto}"/>


                            <ui:remove>
                                ,&nbsp;
                                <h:outputText value="#{item.rsvaMenoredad}"/>
                            </ui:remove>

                            <ui:remove>
                                ,&nbsp;
                                <h:outputText value="#{item.rsvaEstado}"/>
                            </ui:remove>



                        </p>
                        <f:setPropertyActionListener value="#{item}" target="#{reservaController.selected}" />
                    </p:commandLink>

                    <f:facet name="footer">
                        <h:outputText value="#{myBundle.ListReservaTitle}"/>
                    </f:facet>

                </p:dataList>
            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>