<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="ReservaViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewReservaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:ReservaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="ReservaViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{reservaController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_idReserva}"/>
                            <h:outputText value="#{reservaController.selected.idReserva}" title="#{myBundle.ViewReservaTitle_idReserva}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaFecharealizada}"/>
                            <h:outputText value="#{reservaController.selected.rsvaFecharealizada}" title="#{myBundle.ViewReservaTitle_rsvaFecharealizada}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaFechallegada}"/>
                            <h:outputText value="#{reservaController.selected.rsvaFechallegada}" title="#{myBundle.ViewReservaTitle_rsvaFechallegada}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaCheckin}"/>
                            <h:outputText value="#{reservaController.selected.rsvaCheckin}" title="#{myBundle.ViewReservaTitle_rsvaCheckin}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaCheckout}"/>
                            <h:outputText value="#{reservaController.selected.rsvaCheckout}" title="#{myBundle.ViewReservaTitle_rsvaCheckout}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaNoche}"/>
                            <h:outputText value="#{reservaController.selected.rsvaNoche}" title="#{myBundle.ViewReservaTitle_rsvaNoche}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaAdulto}"/>
                            <h:outputText value="#{reservaController.selected.rsvaAdulto}" title="#{myBundle.ViewReservaTitle_rsvaAdulto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaMenoredad}"/>
                            <h:outputText value="#{reservaController.selected.rsvaMenoredad}" title="#{myBundle.ViewReservaTitle_rsvaMenoredad}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_rsvaEstado}"/>
                            <h:outputText value="#{reservaController.selected.rsvaEstado}" title="#{myBundle.ViewReservaTitle_rsvaEstado}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewReservaLabel_usuarioCollection}"/>
                            <h:selectManyMenu converter="usuarioConverter">
                                <f:selectItems value="#{reservaController.selected.usuarioCollection}"
                                               var="usuarioCollectionItem"
                                               itemValue="#{usuarioCollectionItem}"
                                               itemLabel="#{usuarioCollectionItem.idUsuario.toString()}"
                                               />

                            </h:selectManyMenu>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>