<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UbicacionEditDlg" widgetVar="UbicacionEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUbicacionTitle}" closeOnEscape="true">

            <h:form id="UbicacionEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{ubicacionController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUbicacionLabel_idUbicacion}" for="idUbicacion" />
                        <h:outputText id="idUbicacion" value="#{ubicacionController.selected.idUbicacion}" />

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicDireccion}" for="ubicDireccion" />
                        <p:inputText id="ubicDireccion" value="#{ubicacionController.selected.ubicDireccion}" title="#{myBundle.EditUbicacionTitle_ubicDireccion}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_ubicDireccion}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicLatitud}" for="ubicLatitud" />
                        <p:inputText id="ubicLatitud" value="#{ubicacionController.selected.ubicLatitud}" title="#{myBundle.EditUbicacionTitle_ubicLatitud}"/>

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicLongitud}" for="ubicLongitud" />
                        <p:inputText id="ubicLongitud" value="#{ubicacionController.selected.ubicLongitud}" title="#{myBundle.EditUbicacionTitle_ubicLongitud}"/>

                        <p:outputLabel value="#{myBundle.EditUbicacionLabel_lugaresLugrCodigolugar}" for="lugaresLugrCodigolugar" />
                        <p:selectOneMenu id="lugaresLugrCodigolugar" value="#{ubicacionController.selected.lugaresLugrCodigolugar}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_lugaresLugrCodigolugar}" converter="lugarConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{lugarController.items}"
                                           var="lugaresLugrCodigolugarItem"
                                           itemValue="#{lugaresLugrCodigolugarItem}"
                                           itemLabel="#{lugaresLugrCodigolugarItem.lugrCodigolugar.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ubicacionController.save}" value="#{myBundle.Save}" update="display,:UbicacionListForm:datalist,:UbicacionListForm:UbicacionDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UbicacionEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UbicacionEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
