<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LugarCreateDlg" widgetVar="LugarCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateLugarTitle}" closeOnEscape="true">

            <h:form id="LugarCreateForm">

                <h:panelGroup id="display" rendered="#{lugarController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrCodigolugar}" for="lugrCodigolugar" />
                        <p:inputText id="lugrCodigolugar" value="#{lugarController.selected.lugrCodigolugar}" title="#{myBundle.CreateLugarTitle_lugrCodigolugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrCodigolugar}"/>

                        <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrNombrelugar}" for="lugrNombrelugar" />
                        <p:inputText id="lugrNombrelugar" value="#{lugarController.selected.lugrNombrelugar}" title="#{myBundle.CreateLugarTitle_lugrNombrelugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrNombrelugar}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrTipolugar}" for="lugrTipolugar" />
                        <p:inputText id="lugrTipolugar" value="#{lugarController.selected.lugrTipolugar}" title="#{myBundle.CreateLugarTitle_lugrTipolugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrTipolugar}"/>

                        <p:outputLabel value="#{myBundle.CreateLugarLabel_lugaresCodigoubicacion}" for="lugaresCodigoubicacion" />
                        <p:selectOneMenu id="lugaresCodigoubicacion" value="#{lugarController.selected.lugaresCodigoubicacion}"  converter="lugarConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{lugarController.items}"
                                           var="lugaresCodigoubicacionItem"
                                           itemValue="#{lugaresCodigoubicacionItem}"
                                           itemLabel="#{lugaresCodigoubicacionItem.lugrCodigolugar.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lugarController.saveNew}" value="#{myBundle.Save}" update="display,:LugarListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('LugarCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('LugarCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
