<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="LugarEditDlg" widgetVar="LugarEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditLugarTitle}" closeOnEscape="true">

            <h:form id="LugarEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{lugarController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditLugarLabel_lugrCodigolugar}" for="lugrCodigolugar" />
                        <h:outputText id="lugrCodigolugar" value="#{lugarController.selected.lugrCodigolugar}" />

                        <p:outputLabel value="#{myBundle.EditLugarLabel_lugrNombrelugar}" for="lugrNombrelugar" />
                        <p:inputText id="lugrNombrelugar" value="#{lugarController.selected.lugrNombrelugar}" title="#{myBundle.EditLugarTitle_lugrNombrelugar}" required="true" requiredMessage="#{myBundle.EditLugarRequiredMessage_lugrNombrelugar}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditLugarLabel_lugrTipolugar}" for="lugrTipolugar" />
                        <p:inputText id="lugrTipolugar" value="#{lugarController.selected.lugrTipolugar}" title="#{myBundle.EditLugarTitle_lugrTipolugar}" required="true" requiredMessage="#{myBundle.EditLugarRequiredMessage_lugrTipolugar}"/>

                        <p:outputLabel value="#{myBundle.EditLugarLabel_lugaresCodigoubicacion}" for="lugaresCodigoubicacion" />
                        <p:selectOneMenu id="lugaresCodigoubicacion" value="#{lugarController.selected.lugaresCodigoubicacion}"  converter="lugarConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{lugarController.items}"
                                           var="lugaresCodigoubicacionItem"
                                           itemValue="#{lugaresCodigoubicacionItem}"
                                           itemLabel="#{lugaresCodigoubicacionItem.lugrCodigolugar.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{lugarController.save}" value="#{myBundle.Save}" update="display,:LugarListForm:datalist,:LugarListForm:LugarDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('LugarEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('LugarEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
