<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="LugarListForm">

        <p:panel header="#{myBundle.ListLugarTitle}">
            <p:contextMenu id="LugarDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('LugarListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('LugarListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('LugarListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('LugarListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.LugarMenuItem_lugarCollection}" icon="ui-icon-search"  action="#{lugarController.navigateLugarCollection}" disabled="#{lugarController.isLugarCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.LugarMenuItem_lugaresCodigoubicacion}" icon="ui-icon-search"  actionListener="#{lugarController.prepareLugaresCodigoubicacion}" update=":LugarViewForm" oncomplete="PF('LugarViewDialog').show()" disabled="#{empty lugarController.selected.lugaresCodigoubicacion}"/>  
                <p:menuitem value="#{myBundle.LugarMenuItem_ubicacionCollection}" icon="ui-icon-search"  action="#{lugarController.navigateUbicacionCollection}" disabled="#{lugarController.isUbicacionCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{lugarController.items}"
                         lazy="false"
                         rowKey="#{item.lugrCodigolugar}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{lugarController.selected}"
                         filteredValue="#{lugarController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{lugarController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.lugrCodigolugar}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:LugarDataTableContextMenu" listener="#{lugarController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:LugarDataTableContextMenu" listener="#{lugarController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{lugarController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('LugarListForm:viewButton').click();"/>

                <p:column sortBy="#{item.lugrCodigolugar}" filterBy="#{item.lugrCodigolugar}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLugarTitle_lugrCodigolugar}"/>
                    </f:facet>
                    <h:outputText value="#{item.lugrCodigolugar}"/>
                </p:column>


                <p:column sortBy="#{item.lugrNombrelugar}" filterBy="#{item.lugrNombrelugar}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLugarTitle_lugrNombrelugar}"/>
                    </f:facet>
                    <h:outputText value="#{item.lugrNombrelugar}"/>
                </p:column>


                <p:column sortBy="#{item.lugrTipolugar}" filterBy="#{item.lugrTipolugar}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLugarTitle_lugrTipolugar}"/>
                    </f:facet>
                    <h:outputText value="#{item.lugrTipolugar}"/>
                </p:column>


                <p:column sortBy="#{item.lugaresCodigoubicacion.lugrCodigolugar}" filterBy="#{item.lugaresCodigoubicacion.lugrCodigolugar}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListLugarTitle_lugaresCodigoubicacion}"/>
                    </f:facet>
                    <h:outputText value="#{item.lugaresCodigoubicacion.lugrCodigolugar}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{lugarController.prepareCreate}" update=":LugarCreateForm" oncomplete="PF('LugarCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":LugarViewForm" oncomplete="PF('LugarViewDialog').show()" disabled="#{empty lugarController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":LugarEditForm" oncomplete="PF('LugarEditDialog').show()" disabled="#{empty lugarController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{lugarController.delete}" update=":growl,datalist" disabled="#{empty lugarController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>