<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="LugarViewDlg" widgetVar="LugarViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewLugarTitle}" closeOnEscape="true">

            <h:form id="LugarViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{lugarController.selected != null}">

                        <h:outputText value="#{myBundle.ViewLugarLabel_lugrCodigolugar}"/>
                        <h:outputText value="#{lugarController.selected.lugrCodigolugar}" title="#{myBundle.ViewLugarTitle_lugrCodigolugar}"/>

                        <h:outputText value="#{myBundle.ViewLugarLabel_lugrNombrelugar}"/>
                        <h:outputText value="#{lugarController.selected.lugrNombrelugar}" title="#{myBundle.ViewLugarTitle_lugrNombrelugar}"/>

                        <h:outputText value="#{myBundle.ViewLugarLabel_lugrTipolugar}"/>
                        <h:outputText value="#{lugarController.selected.lugrTipolugar}" title="#{myBundle.ViewLugarTitle_lugrTipolugar}"/>

                        <h:outputText value="#{myBundle.ViewLugarLabel_lugaresCodigoubicacion}"/>
                        <h:outputText value="#{lugarController.selected.lugaresCodigoubicacion.lugrCodigolugar}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('LugarViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
