<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IdentificacionCreateDlg" widgetVar="IdentificacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateIdentificacionTitle}" closeOnEscape="true">

            <h:form id="IdentificacionCreateForm">

                <h:panelGroup id="display" rendered="#{identificacionController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateIdentificacionLabel_idntNumero}" for="idntNumero" />
                        <p:inputText id="idntNumero" value="#{identificacionController.selected.idntNumero}" title="#{myBundle.CreateIdentificacionTitle_idntNumero}" required="true" requiredMessage="#{myBundle.CreateIdentificacionRequiredMessage_idntNumero}"/>

                        <p:outputLabel value="#{myBundle.CreateIdentificacionLabel_idntTipo}" for="idntTipo" />
                        <p:inputText id="idntTipo" value="#{identificacionController.selected.idntTipo}" title="#{myBundle.CreateIdentificacionTitle_idntTipo}" required="true" requiredMessage="#{myBundle.CreateIdentificacionRequiredMessage_idntTipo}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.CreateIdentificacionLabel_empresasIdEmpresa}" for="empresasIdEmpresa" />
                        <p:selectOneMenu id="empresasIdEmpresa" value="#{identificacionController.selected.empresasIdEmpresa}" required="true" requiredMessage="#{myBundle.CreateIdentificacionRequiredMessage_empresasIdEmpresa}" converter="empresaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{empresaController.items}"
                                           var="empresasIdEmpresaItem"
                                           itemValue="#{empresasIdEmpresaItem}"
                                           itemLabel="#{empresasIdEmpresaItem.idEmpresa.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{identificacionController.saveNew}" value="#{myBundle.Save}" update="display,:IdentificacionListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('IdentificacionCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('IdentificacionCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
