<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InventarioCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateInventarioTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InventarioListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InventarioCreateForm">

                <h:panelGroup id="display" rendered="#{inventarioController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtSerial}" for="invtSerial" />
                            <p:inputText id="invtSerial" value="#{inventarioController.selected.invtSerial}" title="#{myBundle.CreateInventarioTitle_invtSerial}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtSerial}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtNombre}" for="invtNombre" />
                            <p:inputText id="invtNombre" value="#{inventarioController.selected.invtNombre}" title="#{myBundle.CreateInventarioTitle_invtNombre}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtNombre}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtCosto}" for="invtCosto" />
                            <p:inputText id="invtCosto" value="#{inventarioController.selected.invtCosto}" title="#{myBundle.CreateInventarioTitle_invtCosto}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtCosto}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtDescripcion}" for="invtDescripcion" />
                            <p:inputTextarea rows="4" cols="30" id="invtDescripcion" value="#{inventarioController.selected.invtDescripcion}" title="#{myBundle.CreateInventarioTitle_invtDescripcion}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtCantidad}" for="invtCantidad" />
                            <p:inputText id="invtCantidad" value="#{inventarioController.selected.invtCantidad}" title="#{myBundle.CreateInventarioTitle_invtCantidad}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtCantidad}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtFechacompra}" for="invtFechacompra" />
                            <p:calendar id="invtFechacompra" pattern="MM/dd/yyyy" value="#{inventarioController.selected.invtFechacompra}" title="#{myBundle.CreateInventarioTitle_invtFechacompra}"  showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_inmueblesIdInmueble}" for="inmueblesIdInmueble" />
                            <p:selectOneMenu id="inmueblesIdInmueble" value="#{inventarioController.selected.inmueblesIdInmueble}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_inmueblesIdInmueble}" converter="inmuebleConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{inmuebleController.items}"
                                               var="inmueblesIdInmuebleItem"
                                               itemValue="#{inmueblesIdInmuebleItem}"
                                               itemLabel="#{inmueblesIdInmuebleItem.inmbDescripcion.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInventarioLabel_invelementosIdElemento}" for="invelementosIdElemento" />
                            <p:selectOneMenu id="invelementosIdElemento" value="#{inventarioController.selected.invelementosIdElemento}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invelementosIdElemento}" converter="invelementosConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{invelementosController.items}"
                                               var="invelementosIdElementoItem"
                                               itemValue="#{invelementosIdElementoItem}"
                                               itemLabel="#{invelementosIdElementoItem.idElemento.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{inventarioController.saveNew}" value="#{myBundle.Save}" update="display,:InventarioListPage:InventarioListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:InventarioListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>