<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InventarioViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewInventarioTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InventarioListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InventarioViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{inventarioController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_idInventario}"/>
                            <h:outputText value="#{inventarioController.selected.idInventario}" title="#{myBundle.ViewInventarioTitle_idInventario}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtSerial}"/>
                            <h:outputText value="#{inventarioController.selected.invtSerial}" title="#{myBundle.ViewInventarioTitle_invtSerial}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtNombre}"/>
                            <h:outputText value="#{inventarioController.selected.invtNombre}" title="#{myBundle.ViewInventarioTitle_invtNombre}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtCosto}"/>
                            <h:outputText value="#{inventarioController.selected.invtCosto}" title="#{myBundle.ViewInventarioTitle_invtCosto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtDescripcion}"/>
                            <h:outputText value="#{inventarioController.selected.invtDescripcion}" title="#{myBundle.ViewInventarioTitle_invtDescripcion}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtCantidad}"/>
                            <h:outputText value="#{inventarioController.selected.invtCantidad}" title="#{myBundle.ViewInventarioTitle_invtCantidad}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invtFechacompra}"/>
                            <h:outputText value="#{inventarioController.selected.invtFechacompra}" title="#{myBundle.ViewInventarioTitle_invtFechacompra}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_inmueblesIdInmueble}"/>
                            <h:outputText value="#{inventarioController.selected.inmueblesIdInmueble.inmbDescripcion}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInventarioLabel_invelementosIdElemento}"/>
                            <h:outputText value="#{inventarioController.selected.invelementosIdElemento.idElemento}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>