<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FotoCreateDlg" widgetVar="FotoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateFotoTitle}" closeOnEscape="true">

            <h:form id="FotoCreateForm">

                <h:panelGroup id="display" rendered="#{fotoController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateFotoLabel_fotoUrl}" for="fotoUrl" />
                        <p:inputText id="fotoUrl" value="#{fotoController.selected.fotoUrl}" title="#{myBundle.CreateFotoTitle_fotoUrl}" required="true" requiredMessage="#{myBundle.CreateFotoRequiredMessage_fotoUrl}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.CreateFotoLabel_inmuebleCollection}" for="inmuebleCollection" />
                        <p:selectManyMenu id="inmuebleCollection" value="#{fotoController.selected.inmuebleCollection}"  converter="inmuebleConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmuebleCollectionItem"
                                           itemValue="#{inmuebleCollectionItem}"
                                           itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{fotoController.saveNew}" value="#{myBundle.Save}" update="display,:FotoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FotoCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('FotoCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
