<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="FotoEditDlg" widgetVar="FotoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditFotoTitle}" closeOnEscape="true">

            <h:form id="FotoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{fotoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditFotoLabel_idFoto}" for="idFoto" />
                        <h:outputText id="idFoto" value="#{fotoController.selected.idFoto}" />

                        <p:outputLabel value="#{myBundle.EditFotoLabel_fotoUrl}" for="fotoUrl" />
                        <p:inputText id="fotoUrl" value="#{fotoController.selected.fotoUrl}" title="#{myBundle.EditFotoTitle_fotoUrl}" required="true" requiredMessage="#{myBundle.EditFotoRequiredMessage_fotoUrl}" size="200" maxlength="200"/>

                        <p:outputLabel value="#{myBundle.EditFotoLabel_inmuebleCollection}" for="inmuebleCollection" />
                        <p:selectManyMenu id="inmuebleCollection" value="#{fotoController.selected.inmuebleCollection}"  converter="inmuebleConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmuebleCollectionItem"
                                           itemValue="#{inmuebleCollectionItem}"
                                           itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{fotoController.save}" value="#{myBundle.Save}" update="display,:FotoListForm:datalist,:FotoListForm:FotoDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('FotoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('FotoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
