<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="FotoListForm">

        <p:panel header="#{myBundle.ListFotoTitle}">
            <p:contextMenu id="FotoDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('FotoListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('FotoListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('FotoListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('FotoListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.FotoMenuItem_inmuebleCollection}" icon="ui-icon-search"  action="#{fotoController.navigateInmuebleCollection}" disabled="#{fotoController.isInmuebleCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{fotoController.items}"
                         lazy="false"
                         rowKey="#{item.idFoto}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{fotoController.selected}"
                         filteredValue="#{fotoController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{fotoController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idFoto}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FotoDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:FotoDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('FotoListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idFoto}" filterBy="#{item.idFoto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFotoTitle_idFoto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idFoto}"/>
                </p:column>


                <p:column sortBy="#{item.fotoUrl}" filterBy="#{item.fotoUrl}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListFotoTitle_fotoUrl}"/>
                    </f:facet>
                    <h:outputText value="#{item.fotoUrl}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{fotoController.prepareCreate}" update=":FotoCreateForm" oncomplete="PF('FotoCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":FotoViewForm" oncomplete="PF('FotoViewDialog').show()" disabled="#{empty fotoController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":FotoEditForm" oncomplete="PF('FotoEditDialog').show()" disabled="#{empty fotoController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{fotoController.delete}" update=":growl,datalist" disabled="#{empty fotoController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>