<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="FotoViewDlg" widgetVar="FotoViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewFotoTitle}" closeOnEscape="true">

            <h:form id="FotoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{fotoController.selected != null}">

                        <h:outputText value="#{myBundle.ViewFotoLabel_idFoto}"/>
                        <h:outputText value="#{fotoController.selected.idFoto}" title="#{myBundle.ViewFotoTitle_idFoto}"/>

                        <h:outputText value="#{myBundle.ViewFotoLabel_fotoUrl}"/>
                        <h:outputText value="#{fotoController.selected.fotoUrl}" title="#{myBundle.ViewFotoTitle_fotoUrl}"/>

                        <h:outputText value="#{myBundle.ViewFotoLabel_inmuebleCollection}"/>
                        <p:selectManyMenu converter="inmuebleConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{fotoController.selected.inmuebleCollection}"
                                           var="inmuebleCollectionItem"
                                           itemValue="#{inmuebleCollectionItem}"
                                           itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('FotoViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
