<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InmuebleCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateInmuebleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InmuebleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InmuebleCreateForm">

                <h:panelGroup id="display" rendered="#{inmuebleController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_inmbNombre}" for="inmbNombre" />
                            <p:inputText id="inmbNombre" value="#{inmuebleController.selected.inmbNombre}" title="#{myBundle.CreateInmuebleTitle_inmbNombre}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_inmbNombre}" size="45" maxlength="45"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_inmbAreainmb}" for="inmbAreainmb" />
                            <p:inputText id="inmbAreainmb" value="#{inmuebleController.selected.inmbAreainmb}" title="#{myBundle.CreateInmuebleTitle_inmbAreainmb}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_inmbAreainmb}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_inmbBano}" for="inmbBano" />
                            <p:inputText id="inmbBano" value="#{inmuebleController.selected.inmbBano}" title="#{myBundle.CreateInmuebleTitle_inmbBano}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_inmbBano}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_inmbDescripcion}" for="inmbDescripcion" />
                            <p:inputTextarea rows="4" cols="30" id="inmbDescripcion" value="#{inmuebleController.selected.inmbDescripcion}" title="#{myBundle.CreateInmuebleTitle_inmbDescripcion}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_inmbDescripcion}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_inmbPrecio}" for="inmbPrecio" />
                            <p:inputText id="inmbPrecio" value="#{inmuebleController.selected.inmbPrecio}" title="#{myBundle.CreateInmuebleTitle_inmbPrecio}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_inmbPrecio}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_reservaCollection}" for="reservaCollection" />
                            <p:selectManyMenu id="reservaCollection" value="#{inmuebleController.selected.reservaCollection}"  converter="reservaConverter">
                                <f:selectItems value="#{reservaController.items}"
                                               var="reservaCollectionItem"
                                               itemValue="#{reservaCollectionItem}"
                                               itemLabel="#{reservaCollectionItem.idReserva.toString()}"
                                               />

                            </p:selectManyMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_empresasIdEmpresa}" for="empresasIdEmpresa" />
                            <p:selectOneMenu id="empresasIdEmpresa" value="#{inmuebleController.selected.empresasIdEmpresa}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_empresasIdEmpresa}" converter="empresaConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{empresaController.items}"
                                               var="empresasIdEmpresaItem"
                                               itemValue="#{empresasIdEmpresaItem}"
                                               itemLabel="#{empresasIdEmpresaItem.idEmpresa.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInmuebleLabel_ubicacionesIdUbicacion}" for="ubicacionesIdUbicacion" />
                            <p:selectOneMenu id="ubicacionesIdUbicacion" value="#{inmuebleController.selected.ubicacionesIdUbicacion}" required="true" requiredMessage="#{myBundle.CreateInmuebleRequiredMessage_ubicacionesIdUbicacion}" converter="ubicacionConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{ubicacionController.items}"
                                               var="ubicacionesIdUbicacionItem"
                                               itemValue="#{ubicacionesIdUbicacionItem}"
                                               itemLabel="#{ubicacionesIdUbicacionItem.idUbicacion.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{inmuebleController.saveNew}" value="#{myBundle.Save}" update="display,:InmuebleListPage:InmuebleListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:InmuebleListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>