<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InmuebleViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewInmuebleTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InmuebleListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InmuebleViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{inmuebleController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_idInmueble}"/>
                            <h:outputText value="#{inmuebleController.selected.idInmueble}" title="#{myBundle.ViewInmuebleTitle_idInmueble}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_inmbNombre}"/>
                            <h:outputText value="#{inmuebleController.selected.inmbNombre}" title="#{myBundle.ViewInmuebleTitle_inmbNombre}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_inmbAreainmb}"/>
                            <h:outputText value="#{inmuebleController.selected.inmbAreainmb}" title="#{myBundle.ViewInmuebleTitle_inmbAreainmb}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_inmbBano}"/>
                            <h:outputText value="#{inmuebleController.selected.inmbBano}" title="#{myBundle.ViewInmuebleTitle_inmbBano}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_inmbDescripcion}"/>
                            <h:outputText value="#{inmuebleController.selected.inmbDescripcion}" title="#{myBundle.ViewInmuebleTitle_inmbDescripcion}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_inmbPrecio}"/>
                            <h:outputText value="#{inmuebleController.selected.inmbPrecio}" title="#{myBundle.ViewInmuebleTitle_inmbPrecio}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_reservaCollection}"/>
                            <h:selectManyMenu converter="reservaConverter">
                                <f:selectItems value="#{inmuebleController.selected.reservaCollection}"
                                               var="reservaCollectionItem"
                                               itemValue="#{reservaCollectionItem}"
                                               itemLabel="#{reservaCollectionItem.idReserva.toString()}"
                                               />

                            </h:selectManyMenu>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_empresasIdEmpresa}"/>
                            <h:outputText value="#{inmuebleController.selected.empresasIdEmpresa.idEmpresa}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewInmuebleLabel_ubicacionesIdUbicacion}"/>
                            <h:outputText value="#{inmuebleController.selected.ubicacionesIdUbicacion.idUbicacion}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>