<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RespuestaCreateDlg" widgetVar="RespuestaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRespuestaTitle}" closeOnEscape="true">

            <h:form id="RespuestaCreateForm">

                <h:panelGroup id="display" rendered="#{respuestaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRespuestaLabel_rptaTexto}" for="rptaTexto" />
                        <p:inputTextarea rows="4" cols="30" id="rptaTexto" value="#{respuestaController.selected.rptaTexto}" title="#{myBundle.CreateRespuestaTitle_rptaTexto}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_rptaTexto}"/>

                        <p:outputLabel value="#{myBundle.CreateRespuestaLabel_rptaFecha}" for="rptaFecha" />
                        <p:calendar id="rptaFecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{respuestaController.selected.rptaFecha}" title="#{myBundle.CreateRespuestaTitle_rptaFecha}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_rptaFecha}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateRespuestaLabel_preguntasIdPregunta}" for="preguntasIdPregunta" />
                        <p:selectOneMenu id="preguntasIdPregunta" value="#{respuestaController.selected.preguntasIdPregunta}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_preguntasIdPregunta}" converter="preguntaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{preguntaController.items}"
                                           var="preguntasIdPreguntaItem"
                                           itemValue="#{preguntasIdPreguntaItem}"
                                           itemLabel="#{preguntasIdPreguntaItem.idPregunta.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{respuestaController.saveNew}" value="#{myBundle.Save}" update="display,:RespuestaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RespuestaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RespuestaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
