<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="RespuestaListForm">

        <p:panel header="#{myBundle.ListRespuestaTitle}">
            <p:contextMenu id="RespuestaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('RespuestaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('RespuestaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('RespuestaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('RespuestaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.RespuestaMenuItem_preguntasIdPregunta}" icon="ui-icon-search"  actionListener="#{respuestaController.preparePreguntasIdPregunta}" update=":PreguntaViewForm" oncomplete="PF('PreguntaViewDialog').show()" disabled="#{empty respuestaController.selected.preguntasIdPregunta}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{respuestaController.items}"
                         lazy="false"
                         rowKey="#{item.idRespuesta}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{respuestaController.selected}"
                         filteredValue="#{respuestaController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{respuestaController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idRespuesta}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RespuestaDataTableContextMenu" listener="#{respuestaController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:RespuestaDataTableContextMenu" listener="#{respuestaController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{respuestaController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('RespuestaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idRespuesta}" filterBy="#{item.idRespuesta}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRespuestaTitle_idRespuesta}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRespuesta}"/>
                </p:column>


                <p:column sortBy="#{item.rptaTexto}" filterBy="#{item.rptaTexto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRespuestaTitle_rptaTexto}"/>
                    </f:facet>
                    <h:outputText value="#{item.rptaTexto}"/>
                </p:column>


                <p:column sortBy="#{item.rptaFecha}" filterBy="#{item.rptaFecha}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRespuestaTitle_rptaFecha}"/>
                    </f:facet>
                    <h:outputText value="#{item.rptaFecha}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.preguntasIdPregunta.idPregunta}" filterBy="#{item.preguntasIdPregunta.idPregunta}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListRespuestaTitle_preguntasIdPregunta}"/>
                    </f:facet>
                    <h:outputText value="#{item.preguntasIdPregunta.idPregunta}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{respuestaController.prepareCreate}" update=":RespuestaCreateForm" oncomplete="PF('RespuestaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":RespuestaViewForm" oncomplete="PF('RespuestaViewDialog').show()" disabled="#{empty respuestaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":RespuestaEditForm" oncomplete="PF('RespuestaEditDialog').show()" disabled="#{empty respuestaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{respuestaController.delete}" update=":growl,datalist" disabled="#{empty respuestaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>