<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RespuestaViewDlg" widgetVar="RespuestaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewRespuestaTitle}" closeOnEscape="true">

            <h:form id="RespuestaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{respuestaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewRespuestaLabel_idRespuesta}"/>
                        <h:outputText value="#{respuestaController.selected.idRespuesta}" title="#{myBundle.ViewRespuestaTitle_idRespuesta}"/>

                        <h:outputText value="#{myBundle.ViewRespuestaLabel_rptaTexto}"/>
                        <h:outputText value="#{respuestaController.selected.rptaTexto}" title="#{myBundle.ViewRespuestaTitle_rptaTexto}"/>

                        <h:outputText value="#{myBundle.ViewRespuestaLabel_rptaFecha}"/>
                        <h:outputText value="#{respuestaController.selected.rptaFecha}" title="#{myBundle.ViewRespuestaTitle_rptaFecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewRespuestaLabel_preguntasIdPregunta}"/>
                        <h:outputText value="#{respuestaController.selected.preguntasIdPregunta.idPregunta}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('RespuestaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
