<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservaCreateDlg" widgetVar="ReservaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateReservaTitle}" closeOnEscape="true">

            <h:form id="ReservaCreateForm">

                <h:panelGroup id="display" rendered="#{reservaController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaFecharealizada}" for="rsvaFecharealizada" />
                        <p:calendar id="rsvaFecharealizada" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaFecharealizada}" title="#{myBundle.CreateReservaTitle_rsvaFecharealizada}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaFecharealizada}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaFechallegada}" for="rsvaFechallegada" />
                        <p:inputText id="rsvaFechallegada" value="#{reservaController.selected.rsvaFechallegada}" title="#{myBundle.CreateReservaTitle_rsvaFechallegada}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaFechallegada}"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaCheckin}" for="rsvaCheckin" />
                        <p:calendar id="rsvaCheckin" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaCheckin}" title="#{myBundle.CreateReservaTitle_rsvaCheckin}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaCheckin}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaCheckout}" for="rsvaCheckout" />
                        <p:calendar id="rsvaCheckout" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaCheckout}" title="#{myBundle.CreateReservaTitle_rsvaCheckout}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaCheckout}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaNoche}" for="rsvaNoche" />
                        <p:inputText id="rsvaNoche" value="#{reservaController.selected.rsvaNoche}" title="#{myBundle.CreateReservaTitle_rsvaNoche}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaNoche}"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaAdulto}" for="rsvaAdulto" />
                        <p:inputText id="rsvaAdulto" value="#{reservaController.selected.rsvaAdulto}" title="#{myBundle.CreateReservaTitle_rsvaAdulto}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaAdulto}"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaMenoredad}" for="rsvaMenoredad" />
                        <p:inputText id="rsvaMenoredad" value="#{reservaController.selected.rsvaMenoredad}" title="#{myBundle.CreateReservaTitle_rsvaMenoredad}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaMenoredad}"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_rsvaEstado}" for="rsvaEstado" />
                        <p:inputText id="rsvaEstado" value="#{reservaController.selected.rsvaEstado}" title="#{myBundle.CreateReservaTitle_rsvaEstado}" required="true" requiredMessage="#{myBundle.CreateReservaRequiredMessage_rsvaEstado}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.CreateReservaLabel_usuarioCollection}" for="usuarioCollection" />
                        <p:selectManyMenu id="usuarioCollection" value="#{reservaController.selected.usuarioCollection}"  converter="usuarioConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{usuarioController.items}"
                                           var="usuarioCollectionItem"
                                           itemValue="#{usuarioCollectionItem}"
                                           itemLabel="#{usuarioCollectionItem.idUsuario.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reservaController.saveNew}" value="#{myBundle.Save}" update="display,:ReservaListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ReservaCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ReservaCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
