<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ReservaEditDlg" widgetVar="ReservaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditReservaTitle}" closeOnEscape="true">

            <h:form id="ReservaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{reservaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditReservaLabel_idReserva}" for="idReserva" />
                        <h:outputText id="idReserva" value="#{reservaController.selected.idReserva}" />

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaFecharealizada}" for="rsvaFecharealizada" />
                        <p:calendar id="rsvaFecharealizada" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaFecharealizada}" title="#{myBundle.EditReservaTitle_rsvaFecharealizada}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaFecharealizada}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaFechallegada}" for="rsvaFechallegada" />
                        <p:inputText id="rsvaFechallegada" value="#{reservaController.selected.rsvaFechallegada}" title="#{myBundle.EditReservaTitle_rsvaFechallegada}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaFechallegada}"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaCheckin}" for="rsvaCheckin" />
                        <p:calendar id="rsvaCheckin" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaCheckin}" title="#{myBundle.EditReservaTitle_rsvaCheckin}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaCheckin}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaCheckout}" for="rsvaCheckout" />
                        <p:calendar id="rsvaCheckout" pattern="MM/dd/yyyy HH:mm:ss" value="#{reservaController.selected.rsvaCheckout}" title="#{myBundle.EditReservaTitle_rsvaCheckout}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaCheckout}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaNoche}" for="rsvaNoche" />
                        <p:inputText id="rsvaNoche" value="#{reservaController.selected.rsvaNoche}" title="#{myBundle.EditReservaTitle_rsvaNoche}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaNoche}"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaAdulto}" for="rsvaAdulto" />
                        <p:inputText id="rsvaAdulto" value="#{reservaController.selected.rsvaAdulto}" title="#{myBundle.EditReservaTitle_rsvaAdulto}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaAdulto}"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaMenoredad}" for="rsvaMenoredad" />
                        <p:inputText id="rsvaMenoredad" value="#{reservaController.selected.rsvaMenoredad}" title="#{myBundle.EditReservaTitle_rsvaMenoredad}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaMenoredad}"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_rsvaEstado}" for="rsvaEstado" />
                        <p:inputText id="rsvaEstado" value="#{reservaController.selected.rsvaEstado}" title="#{myBundle.EditReservaTitle_rsvaEstado}" required="true" requiredMessage="#{myBundle.EditReservaRequiredMessage_rsvaEstado}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.EditReservaLabel_usuarioCollection}" for="usuarioCollection" />
                        <p:selectManyMenu id="usuarioCollection" value="#{reservaController.selected.usuarioCollection}"  converter="usuarioConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{usuarioController.items}"
                                           var="usuarioCollectionItem"
                                           itemValue="#{usuarioCollectionItem}"
                                           itemLabel="#{usuarioCollectionItem.idUsuario.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{reservaController.save}" value="#{myBundle.Save}" update="display,:ReservaListForm:datalist,:ReservaListForm:ReservaDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ReservaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ReservaEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
