<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ReservaListForm">

        <p:panel header="#{myBundle.ListReservaTitle}">
            <p:contextMenu id="ReservaDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ReservaListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ReservaListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ReservaListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ReservaListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ReservaMenuItem_inmuebleCollection}" icon="ui-icon-search"  action="#{reservaController.navigateInmuebleCollection}" disabled="#{reservaController.isInmuebleCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.ReservaMenuItem_usuarioCollection}" icon="ui-icon-search"  action="#{reservaController.navigateUsuarioCollection}" disabled="#{reservaController.isUsuarioCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.ReservaMenuItem_pagoCollection}" icon="ui-icon-search"  action="#{reservaController.navigatePagoCollection}" disabled="#{reservaController.isPagoCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{reservaController.items}"
                         lazy="false"
                         rowKey="#{item.idReserva}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{reservaController.selected}"
                         filteredValue="#{reservaController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{reservaController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idReserva}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ReservaDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ReservaDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ReservaListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idReserva}" filterBy="#{item.idReserva}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_idReserva}"/>
                    </f:facet>
                    <h:outputText value="#{item.idReserva}"/>
                </p:column>


                <p:column sortBy="#{item.rsvaFecharealizada}" filterBy="#{item.rsvaFecharealizada}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaFecharealizada}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaFecharealizada}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.rsvaFechallegada}" filterBy="#{item.rsvaFechallegada}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaFechallegada}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaFechallegada}"/>
                </p:column>


                <p:column sortBy="#{item.rsvaCheckin}" filterBy="#{item.rsvaCheckin}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaCheckin}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaCheckin}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.rsvaCheckout}" filterBy="#{item.rsvaCheckout}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaCheckout}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaCheckout}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.rsvaNoche}" filterBy="#{item.rsvaNoche}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaNoche}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaNoche}"/>
                </p:column>


                <p:column sortBy="#{item.rsvaAdulto}" filterBy="#{item.rsvaAdulto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListReservaTitle_rsvaAdulto}"/>
                    </f:facet>
                    <h:outputText value="#{item.rsvaAdulto}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.rsvaMenoredad}" filterBy="#{item.rsvaMenoredad}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListReservaTitle_rsvaMenoredad}"/>
                        </f:facet>
                        <h:outputText value="#{item.rsvaMenoredad}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.rsvaEstado}" filterBy="#{item.rsvaEstado}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListReservaTitle_rsvaEstado}"/>
                        </f:facet>
                        <h:outputText value="#{item.rsvaEstado}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{reservaController.prepareCreate}" update=":ReservaCreateForm" oncomplete="PF('ReservaCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ReservaViewForm" oncomplete="PF('ReservaViewDialog').show()" disabled="#{empty reservaController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ReservaEditForm" oncomplete="PF('ReservaEditDialog').show()" disabled="#{empty reservaController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{reservaController.delete}" update=":growl,datalist" disabled="#{empty reservaController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>