<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ReservaViewDlg" widgetVar="ReservaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewReservaTitle}" closeOnEscape="true">

            <h:form id="ReservaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{reservaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewReservaLabel_idReserva}"/>
                        <h:outputText value="#{reservaController.selected.idReserva}" title="#{myBundle.ViewReservaTitle_idReserva}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaFecharealizada}"/>
                        <h:outputText value="#{reservaController.selected.rsvaFecharealizada}" title="#{myBundle.ViewReservaTitle_rsvaFecharealizada}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaFechallegada}"/>
                        <h:outputText value="#{reservaController.selected.rsvaFechallegada}" title="#{myBundle.ViewReservaTitle_rsvaFechallegada}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaCheckin}"/>
                        <h:outputText value="#{reservaController.selected.rsvaCheckin}" title="#{myBundle.ViewReservaTitle_rsvaCheckin}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaCheckout}"/>
                        <h:outputText value="#{reservaController.selected.rsvaCheckout}" title="#{myBundle.ViewReservaTitle_rsvaCheckout}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaNoche}"/>
                        <h:outputText value="#{reservaController.selected.rsvaNoche}" title="#{myBundle.ViewReservaTitle_rsvaNoche}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaAdulto}"/>
                        <h:outputText value="#{reservaController.selected.rsvaAdulto}" title="#{myBundle.ViewReservaTitle_rsvaAdulto}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaMenoredad}"/>
                        <h:outputText value="#{reservaController.selected.rsvaMenoredad}" title="#{myBundle.ViewReservaTitle_rsvaMenoredad}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_rsvaEstado}"/>
                        <h:outputText value="#{reservaController.selected.rsvaEstado}" title="#{myBundle.ViewReservaTitle_rsvaEstado}"/>

                        <h:outputText value="#{myBundle.ViewReservaLabel_usuarioCollection}"/>
                        <p:selectManyMenu converter="usuarioConverter">
                            <f:attribute name="collectionType" value="java.util.ArrayList"/>
                            <f:selectItems value="#{reservaController.selected.usuarioCollection}"
                                           var="usuarioCollectionItem"
                                           itemValue="#{usuarioCollectionItem}"
                                           itemLabel="#{usuarioCollectionItem.idUsuario.toString()}"
                                           />

                        </p:selectManyMenu>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ReservaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
