<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UsuarioEditPage" lazy="true">
        <pm:header title="#{myBundle.EditUsuarioTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UsuarioListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UsuarioEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{usuarioController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUsuarioLabel_idUsuario}" for="idUsuario" />
                            <h:outputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrNombre}" for="usrNombre" />
                            <p:inputText id="usrNombre" value="#{usuarioController.selected.usrNombre}" title="#{myBundle.EditUsuarioTitle_usrNombre}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrNombre}" size="30" maxlength="30"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrApellido}" for="usrApellido" />
                            <p:inputText id="usrApellido" value="#{usuarioController.selected.usrApellido}" title="#{myBundle.EditUsuarioTitle_usrApellido}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrApellido}" size="30" maxlength="30"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrCorreo}" for="usrCorreo" />
                            <p:inputText id="usrCorreo" value="#{usuarioController.selected.usrCorreo}" title="#{myBundle.EditUsuarioTitle_usrCorreo}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrCorreo}" size="60" maxlength="60"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrPassword}" for="usrPassword" />
                            <p:inputText id="usrPassword" value="#{usuarioController.selected.usrPassword}" title="#{myBundle.EditUsuarioTitle_usrPassword}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrPassword}" size="20" maxlength="20"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrIdentificacion}" for="usrIdentificacion" />
                            <p:inputText id="usrIdentificacion" value="#{usuarioController.selected.usrIdentificacion}" title="#{myBundle.EditUsuarioTitle_usrIdentificacion}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrIdentificacion}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrTipoidentificacion}" for="usrTipoidentificacion" />
                            <p:inputText id="usrTipoidentificacion" value="#{usuarioController.selected.usrTipoidentificacion}" title="#{myBundle.EditUsuarioTitle_usrTipoidentificacion}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrTipoidentificacion}" size="10" maxlength="10"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrTipousuario}" for="usrTipousuario" />
                            <p:inputText id="usrTipousuario" value="#{usuarioController.selected.usrTipousuario}" title="#{myBundle.EditUsuarioTitle_usrTipousuario}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrTipousuario}" size="10" maxlength="10"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrFechanacimiento}" for="usrFechanacimiento" />
                            <p:calendar id="usrFechanacimiento" pattern="MM/dd/yyyy" value="#{usuarioController.selected.usrFechanacimiento}" title="#{myBundle.EditUsuarioTitle_usrFechanacimiento}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrFechanacimiento}" showOn="button"/>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{usuarioController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:UsuarioListPage:UsuarioListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:UsuarioListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>