<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PreguntaEditDlg" widgetVar="PreguntaEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPreguntaTitle}" closeOnEscape="true">

            <h:form id="PreguntaEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{preguntaController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPreguntaLabel_idPregunta}" for="idPregunta" />
                        <h:outputText id="idPregunta" value="#{preguntaController.selected.idPregunta}" />

                        <p:outputLabel value="#{myBundle.EditPreguntaLabel_pgtaTexto}" for="pgtaTexto" />
                        <p:inputTextarea rows="4" cols="30" id="pgtaTexto" value="#{preguntaController.selected.pgtaTexto}" title="#{myBundle.EditPreguntaTitle_pgtaTexto}" required="true" requiredMessage="#{myBundle.EditPreguntaRequiredMessage_pgtaTexto}"/>

                        <p:outputLabel value="#{myBundle.EditPreguntaLabel_pgtaFecha}" for="pgtaFecha" />
                        <p:calendar id="pgtaFecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{preguntaController.selected.pgtaFecha}" title="#{myBundle.EditPreguntaTitle_pgtaFecha}" required="true" requiredMessage="#{myBundle.EditPreguntaRequiredMessage_pgtaFecha}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditPreguntaLabel_inmueblesIdInmueble}" for="inmueblesIdInmueble" />
                        <p:selectOneMenu id="inmueblesIdInmueble" value="#{preguntaController.selected.inmueblesIdInmueble}" required="true" requiredMessage="#{myBundle.EditPreguntaRequiredMessage_inmueblesIdInmueble}" converter="inmuebleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmueblesIdInmuebleItem"
                                           itemValue="#{inmueblesIdInmuebleItem}"
                                           itemLabel="#{inmueblesIdInmuebleItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{preguntaController.save}" value="#{myBundle.Save}" update="display,:PreguntaListForm:datalist,:PreguntaListForm:PreguntaDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PreguntaEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PreguntaEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
