<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PreguntaViewDlg" widgetVar="PreguntaViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewPreguntaTitle}" closeOnEscape="true">

            <h:form id="PreguntaViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{preguntaController.selected != null}">

                        <h:outputText value="#{myBundle.ViewPreguntaLabel_idPregunta}"/>
                        <h:outputText value="#{preguntaController.selected.idPregunta}" title="#{myBundle.ViewPreguntaTitle_idPregunta}"/>

                        <h:outputText value="#{myBundle.ViewPreguntaLabel_pgtaTexto}"/>
                        <h:outputText value="#{preguntaController.selected.pgtaTexto}" title="#{myBundle.ViewPreguntaTitle_pgtaTexto}"/>

                        <h:outputText value="#{myBundle.ViewPreguntaLabel_pgtaFecha}"/>
                        <h:outputText value="#{preguntaController.selected.pgtaFecha}" title="#{myBundle.ViewPreguntaTitle_pgtaFecha}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewPreguntaLabel_inmueblesIdInmueble}"/>
                        <h:outputText value="#{preguntaController.selected.inmueblesIdInmueble.inmbDescripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('PreguntaViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
