<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuarioController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUsuarioLabel_idUsuario}" for="idUsuario" />
                        <h:outputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" />

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrNombre}" for="usrNombre" />
                        <p:inputText id="usrNombre" value="#{usuarioController.selected.usrNombre}" title="#{myBundle.EditUsuarioTitle_usrNombre}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrNombre}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrApellido}" for="usrApellido" />
                        <p:inputText id="usrApellido" value="#{usuarioController.selected.usrApellido}" title="#{myBundle.EditUsuarioTitle_usrApellido}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrApellido}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrCorreo}" for="usrCorreo" />
                        <p:inputText id="usrCorreo" value="#{usuarioController.selected.usrCorreo}" title="#{myBundle.EditUsuarioTitle_usrCorreo}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrCorreo}" size="60" maxlength="60"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrPassword}" for="usrPassword" />
                        <p:inputText id="usrPassword" value="#{usuarioController.selected.usrPassword}" title="#{myBundle.EditUsuarioTitle_usrPassword}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrPassword}" size="20" maxlength="20"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrIdentificacion}" for="usrIdentificacion" />
                        <p:inputText id="usrIdentificacion" value="#{usuarioController.selected.usrIdentificacion}" title="#{myBundle.EditUsuarioTitle_usrIdentificacion}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrIdentificacion}"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrTipoidentificacion}" for="usrTipoidentificacion" />
                        <p:inputText id="usrTipoidentificacion" value="#{usuarioController.selected.usrTipoidentificacion}" title="#{myBundle.EditUsuarioTitle_usrTipoidentificacion}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrTipoidentificacion}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrTipousuario}" for="usrTipousuario" />
                        <p:inputText id="usrTipousuario" value="#{usuarioController.selected.usrTipousuario}" title="#{myBundle.EditUsuarioTitle_usrTipousuario}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrTipousuario}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_usrFechanacimiento}" for="usrFechanacimiento" />
                        <p:calendar id="usrFechanacimiento" pattern="MM/dd/yyyy" value="#{usuarioController.selected.usrFechanacimiento}" title="#{myBundle.EditUsuarioTitle_usrFechanacimiento}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_usrFechanacimiento}" showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.save}" value="#{myBundle.Save}" update="display,:UsuarioListForm:datalist,:UsuarioListForm:UsuarioDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuarioEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UsuarioEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
