<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="FotoCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateFotoTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:FotoListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="FotoCreateForm">

                <h:panelGroup id="display" rendered="#{fotoController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateFotoLabel_fotoUrl}" for="fotoUrl" />
                            <p:inputText id="fotoUrl" value="#{fotoController.selected.fotoUrl}" title="#{myBundle.CreateFotoTitle_fotoUrl}" required="true" requiredMessage="#{myBundle.CreateFotoRequiredMessage_fotoUrl}" size="200" maxlength="200"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateFotoLabel_inmuebleCollection}" for="inmuebleCollection" />
                            <p:selectManyMenu id="inmuebleCollection" value="#{fotoController.selected.inmuebleCollection}"  converter="inmuebleConverter">
                                <f:selectItems value="#{inmuebleController.items}"
                                               var="inmuebleCollectionItem"
                                               itemValue="#{inmuebleCollectionItem}"
                                               itemLabel="#{inmuebleCollectionItem.inmbDescripcion.toString()}"
                                               />

                            </p:selectManyMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{fotoController.saveNew}" value="#{myBundle.Save}" update="display,:FotoListPage:FotoListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:FotoListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>