<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UbicacionEditPage" lazy="true">
        <pm:header title="#{myBundle.EditUbicacionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UbicacionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UbicacionEditForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{ubicacionController.selected != null}">

                        <pm:field>
                            <h:outputLabel value="#{myBundle.EditUbicacionLabel_idUbicacion}" for="idUbicacion" />
                            <h:outputText id="idUbicacion" value="#{ubicacionController.selected.idUbicacion}" />
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicDireccion}" for="ubicDireccion" />
                            <p:inputText id="ubicDireccion" value="#{ubicacionController.selected.ubicDireccion}" title="#{myBundle.EditUbicacionTitle_ubicDireccion}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_ubicDireccion}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicLatitud}" for="ubicLatitud" />
                            <p:inputText id="ubicLatitud" value="#{ubicacionController.selected.ubicLatitud}" title="#{myBundle.EditUbicacionTitle_ubicLatitud}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUbicacionLabel_ubicLongitud}" for="ubicLongitud" />
                            <p:inputText id="ubicLongitud" value="#{ubicacionController.selected.ubicLongitud}" title="#{myBundle.EditUbicacionTitle_ubicLongitud}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.EditUbicacionLabel_lugaresLugrCodigolugar}" for="lugaresLugrCodigolugar" />
                            <p:selectOneMenu id="lugaresLugrCodigolugar" value="#{ubicacionController.selected.lugaresLugrCodigolugar}" required="true" requiredMessage="#{myBundle.EditUbicacionRequiredMessage_lugaresLugrCodigolugar}" converter="lugarConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{lugarController.items}"
                                               var="lugaresLugrCodigolugarItem"
                                               itemValue="#{lugaresLugrCodigolugarItem}"
                                               itemLabel="#{lugaresLugrCodigolugarItem.lugrCodigolugar.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{ubicacionController.save}" value="#{myBundle.Save}" update="#{mobilePageController.updatableWidgets(component,'display,:UbicacionListPage:UbicacionListForm:datalist,:growl')}" action="#{mobilePageController.navigateWithHistory('pm:UbicacionListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>