<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="UbicacionViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewUbicacionTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:UbicacionListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="UbicacionViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{ubicacionController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUbicacionLabel_idUbicacion}"/>
                            <h:outputText value="#{ubicacionController.selected.idUbicacion}" title="#{myBundle.ViewUbicacionTitle_idUbicacion}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUbicacionLabel_ubicDireccion}"/>
                            <h:outputText value="#{ubicacionController.selected.ubicDireccion}" title="#{myBundle.ViewUbicacionTitle_ubicDireccion}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUbicacionLabel_ubicLatitud}"/>
                            <h:outputText value="#{ubicacionController.selected.ubicLatitud}" title="#{myBundle.ViewUbicacionTitle_ubicLatitud}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUbicacionLabel_ubicLongitud}"/>
                            <h:outputText value="#{ubicacionController.selected.ubicLongitud}" title="#{myBundle.ViewUbicacionTitle_ubicLongitud}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewUbicacionLabel_lugaresLugrCodigolugar}"/>
                            <h:outputText value="#{ubicacionController.selected.lugaresLugrCodigolugar.lugrCodigolugar}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>