<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="LugarCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateLugarTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:LugarListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="LugarCreateForm">

                <h:panelGroup id="display" rendered="#{lugarController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrCodigolugar}" for="lugrCodigolugar" />
                            <p:inputText id="lugrCodigolugar" value="#{lugarController.selected.lugrCodigolugar}" title="#{myBundle.CreateLugarTitle_lugrCodigolugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrCodigolugar}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrNombrelugar}" for="lugrNombrelugar" />
                            <p:inputText id="lugrNombrelugar" value="#{lugarController.selected.lugrNombrelugar}" title="#{myBundle.CreateLugarTitle_lugrNombrelugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrNombrelugar}" size="50" maxlength="50"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateLugarLabel_lugrTipolugar}" for="lugrTipolugar" />
                            <p:inputText id="lugrTipolugar" value="#{lugarController.selected.lugrTipolugar}" title="#{myBundle.CreateLugarTitle_lugrTipolugar}" required="true" requiredMessage="#{myBundle.CreateLugarRequiredMessage_lugrTipolugar}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateLugarLabel_lugaresCodigoubicacion}" for="lugaresCodigoubicacion" />
                            <p:selectOneMenu id="lugaresCodigoubicacion" value="#{lugarController.selected.lugaresCodigoubicacion}"  converter="lugarConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{lugarController.items}"
                                               var="lugaresCodigoubicacionItem"
                                               itemValue="#{lugaresCodigoubicacionItem}"
                                               itemLabel="#{lugaresCodigoubicacionItem.lugrCodigolugar.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{lugarController.saveNew}" value="#{myBundle.Save}" update="display,:LugarListPage:LugarListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:LugarListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>