<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="RespuestaCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateRespuestaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:RespuestaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="RespuestaCreateForm">

                <h:panelGroup id="display" rendered="#{respuestaController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateRespuestaLabel_rptaTexto}" for="rptaTexto" />
                            <p:inputTextarea rows="4" cols="30" id="rptaTexto" value="#{respuestaController.selected.rptaTexto}" title="#{myBundle.CreateRespuestaTitle_rptaTexto}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_rptaTexto}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateRespuestaLabel_rptaFecha}" for="rptaFecha" />
                            <p:calendar id="rptaFecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{respuestaController.selected.rptaFecha}" title="#{myBundle.CreateRespuestaTitle_rptaFecha}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_rptaFecha}" showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateRespuestaLabel_preguntasIdPregunta}" for="preguntasIdPregunta" />
                            <p:selectOneMenu id="preguntasIdPregunta" value="#{respuestaController.selected.preguntasIdPregunta}" required="true" requiredMessage="#{myBundle.CreateRespuestaRequiredMessage_preguntasIdPregunta}" converter="preguntaConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{preguntaController.items}"
                                               var="preguntasIdPreguntaItem"
                                               itemValue="#{preguntasIdPreguntaItem}"
                                               itemLabel="#{preguntasIdPreguntaItem.idPregunta.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{respuestaController.saveNew}" value="#{myBundle.Save}" update="display,:RespuestaListPage:RespuestaListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:RespuestaListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>