<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="RespuestaViewPage" lazy="true">
        <pm:header title="#{myBundle.ViewRespuestaTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:RespuestaListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="RespuestaViewForm">

                <h:panelGroup id="display">
                    <p:outputPanel rendered="#{respuestaController.selected != null}">

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewRespuestaLabel_idRespuesta}"/>
                            <h:outputText value="#{respuestaController.selected.idRespuesta}" title="#{myBundle.ViewRespuestaTitle_idRespuesta}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewRespuestaLabel_rptaTexto}"/>
                            <h:outputText value="#{respuestaController.selected.rptaTexto}" title="#{myBundle.ViewRespuestaTitle_rptaTexto}"/>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewRespuestaLabel_rptaFecha}"/>
                            <h:outputText value="#{respuestaController.selected.rptaFecha}" title="#{myBundle.ViewRespuestaTitle_rptaFecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </pm:field>

                        <pm:field>
                            <h:outputText value="#{myBundle.ViewRespuestaLabel_preguntasIdPregunta}"/>
                            <h:outputText value="#{respuestaController.selected.preguntasIdPregunta.idPregunta}"/>
                        </pm:field>
                    </p:outputPanel>
                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>