<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="PagoCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreatePagoTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:PagoListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="PagoCreateForm">

                <h:panelGroup id="display" rendered="#{pagoController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreatePagoLabel_pagoFecha}" for="pagoFecha" />
                            <p:calendar id="pagoFecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{pagoController.selected.pagoFecha}" title="#{myBundle.CreatePagoTitle_pagoFecha}" required="true" requiredMessage="#{myBundle.CreatePagoRequiredMessage_pagoFecha}" showOn="button"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreatePagoLabel_pagoCantidad}" for="pagoCantidad" />
                            <p:inputText id="pagoCantidad" value="#{pagoController.selected.pagoCantidad}" title="#{myBundle.CreatePagoTitle_pagoCantidad}" required="true" requiredMessage="#{myBundle.CreatePagoRequiredMessage_pagoCantidad}"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreatePagoLabel_reservasIdReserva}" for="reservasIdReserva" />
                            <p:selectOneMenu id="reservasIdReserva" value="#{pagoController.selected.reservasIdReserva}" required="true" requiredMessage="#{myBundle.CreatePagoRequiredMessage_reservasIdReserva}" converter="reservaConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{reservaController.items}"
                                               var="reservasIdReservaItem"
                                               itemValue="#{reservasIdReservaItem}"
                                               itemLabel="#{reservasIdReservaItem.idReserva.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{pagoController.saveNew}" value="#{myBundle.Save}" update="display,:PagoListPage:PagoListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:PagoListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>