<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="PagoEditDlg" widgetVar="PagoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditPagoTitle}" closeOnEscape="true">

            <h:form id="PagoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{pagoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditPagoLabel_idPago}" for="idPago" />
                        <h:outputText id="idPago" value="#{pagoController.selected.idPago}" />

                        <p:outputLabel value="#{myBundle.EditPagoLabel_pagoFecha}" for="pagoFecha" />
                        <p:calendar id="pagoFecha" pattern="MM/dd/yyyy HH:mm:ss" value="#{pagoController.selected.pagoFecha}" title="#{myBundle.EditPagoTitle_pagoFecha}" required="true" requiredMessage="#{myBundle.EditPagoRequiredMessage_pagoFecha}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditPagoLabel_pagoCantidad}" for="pagoCantidad" />
                        <p:inputText id="pagoCantidad" value="#{pagoController.selected.pagoCantidad}" title="#{myBundle.EditPagoTitle_pagoCantidad}" required="true" requiredMessage="#{myBundle.EditPagoRequiredMessage_pagoCantidad}"/>

                        <p:outputLabel value="#{myBundle.EditPagoLabel_reservasIdReserva}" for="reservasIdReserva" />
                        <p:selectOneMenu id="reservasIdReserva" value="#{pagoController.selected.reservasIdReserva}" required="true" requiredMessage="#{myBundle.EditPagoRequiredMessage_reservasIdReserva}" converter="reservaConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{reservaController.items}"
                                           var="reservasIdReservaItem"
                                           itemValue="#{reservasIdReservaItem}"
                                           itemLabel="#{reservasIdReservaItem.idReserva.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{pagoController.save}" value="#{myBundle.Save}" update="display,:PagoListForm:datalist,:PagoListForm:PagoDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('PagoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('PagoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
