<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pm="http://primefaces.org/mobile">

    <pm:page id="InvelementosCreatePage" lazy="true">
        <pm:header title="#{myBundle.CreateInvelementosTitle}">
            <h:form>
                <p:commandButton styleClass="ui-btn-left ui-btn-inline" value="#{myBundle.Cancel}" icon="ui-icon-arrow-l" action="#{mobilePageController.navigateBackInHistory('pm:InvelementosListPage')}"/>
            </h:form>
        </pm:header>

        <pm:content>

            <h:form id="InvelementosCreateForm">

                <h:panelGroup id="display" rendered="#{invelementosController.selected != null}">
                    <p:outputPanel>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInvelementosLabel_ivelNombre}" for="ivelNombre" />
                            <p:inputText id="ivelNombre" value="#{invelementosController.selected.ivelNombre}" title="#{myBundle.CreateInvelementosTitle_ivelNombre}" required="true" requiredMessage="#{myBundle.CreateInvelementosRequiredMessage_ivelNombre}" size="30" maxlength="30"/>
                        </pm:field>

                        <pm:field>
                            <p:outputLabel value="#{myBundle.CreateInvelementosLabel_invelementosCodsubtipo}" for="invelementosCodsubtipo" />
                            <p:selectOneMenu id="invelementosCodsubtipo" value="#{invelementosController.selected.invelementosCodsubtipo}"  converter="invelementosConverter">
                                <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                                <f:selectItems value="#{invelementosController.items}"
                                               var="invelementosCodsubtipoItem"
                                               itemValue="#{invelementosCodsubtipoItem}"
                                               itemLabel="#{invelementosCodsubtipoItem.idElemento.toString()}"
                                               />

                            </p:selectOneMenu>
                        </pm:field>
                    </p:outputPanel>
                    <p:commandButton actionListener="#{invelementosController.saveNew}" value="#{myBundle.Save}" update="display,:InvelementosListPage:InvelementosListForm:datalist,:growl" action="#{mobilePageController.navigateWithHistory('pm:InvelementosListPage')}"/>

                </h:panelGroup>

            </h:form>

        </pm:content>

    </pm:page>

</ui:composition>