<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="InventarioCreateDlg" widgetVar="InventarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateInventarioTitle}" closeOnEscape="true">

            <h:form id="InventarioCreateForm">

                <h:panelGroup id="display" rendered="#{inventarioController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtSerial}" for="invtSerial" />
                        <p:inputText id="invtSerial" value="#{inventarioController.selected.invtSerial}" title="#{myBundle.CreateInventarioTitle_invtSerial}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtSerial}"/>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtNombre}" for="invtNombre" />
                        <p:inputText id="invtNombre" value="#{inventarioController.selected.invtNombre}" title="#{myBundle.CreateInventarioTitle_invtNombre}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtNombre}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtCosto}" for="invtCosto" />
                        <p:inputText id="invtCosto" value="#{inventarioController.selected.invtCosto}" title="#{myBundle.CreateInventarioTitle_invtCosto}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtCosto}"/>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtDescripcion}" for="invtDescripcion" />
                        <p:inputTextarea rows="4" cols="30" id="invtDescripcion" value="#{inventarioController.selected.invtDescripcion}" title="#{myBundle.CreateInventarioTitle_invtDescripcion}" />

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtCantidad}" for="invtCantidad" />
                        <p:inputText id="invtCantidad" value="#{inventarioController.selected.invtCantidad}" title="#{myBundle.CreateInventarioTitle_invtCantidad}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invtCantidad}"/>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invtFechacompra}" for="invtFechacompra" />
                        <p:calendar id="invtFechacompra" pattern="MM/dd/yyyy" value="#{inventarioController.selected.invtFechacompra}" title="#{myBundle.CreateInventarioTitle_invtFechacompra}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_inmueblesIdInmueble}" for="inmueblesIdInmueble" />
                        <p:selectOneMenu id="inmueblesIdInmueble" value="#{inventarioController.selected.inmueblesIdInmueble}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_inmueblesIdInmueble}" converter="inmuebleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmueblesIdInmuebleItem"
                                           itemValue="#{inmueblesIdInmuebleItem}"
                                           itemLabel="#{inmueblesIdInmuebleItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.CreateInventarioLabel_invelementosIdElemento}" for="invelementosIdElemento" />
                        <p:selectOneMenu id="invelementosIdElemento" value="#{inventarioController.selected.invelementosIdElemento}" required="true" requiredMessage="#{myBundle.CreateInventarioRequiredMessage_invelementosIdElemento}" converter="invelementosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{invelementosController.items}"
                                           var="invelementosIdElementoItem"
                                           itemValue="#{invelementosIdElementoItem}"
                                           itemLabel="#{invelementosIdElementoItem.idElemento.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{inventarioController.saveNew}" value="#{myBundle.Save}" update="display,:InventarioListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InventarioCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('InventarioCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
