<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="InventarioEditDlg" widgetVar="InventarioEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditInventarioTitle}" closeOnEscape="true">

            <h:form id="InventarioEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{inventarioController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditInventarioLabel_idInventario}" for="idInventario" />
                        <h:outputText id="idInventario" value="#{inventarioController.selected.idInventario}" />

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtSerial}" for="invtSerial" />
                        <p:inputText id="invtSerial" value="#{inventarioController.selected.invtSerial}" title="#{myBundle.EditInventarioTitle_invtSerial}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_invtSerial}"/>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtNombre}" for="invtNombre" />
                        <p:inputText id="invtNombre" value="#{inventarioController.selected.invtNombre}" title="#{myBundle.EditInventarioTitle_invtNombre}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_invtNombre}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtCosto}" for="invtCosto" />
                        <p:inputText id="invtCosto" value="#{inventarioController.selected.invtCosto}" title="#{myBundle.EditInventarioTitle_invtCosto}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_invtCosto}"/>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtDescripcion}" for="invtDescripcion" />
                        <p:inputTextarea rows="4" cols="30" id="invtDescripcion" value="#{inventarioController.selected.invtDescripcion}" title="#{myBundle.EditInventarioTitle_invtDescripcion}" />

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtCantidad}" for="invtCantidad" />
                        <p:inputText id="invtCantidad" value="#{inventarioController.selected.invtCantidad}" title="#{myBundle.EditInventarioTitle_invtCantidad}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_invtCantidad}"/>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invtFechacompra}" for="invtFechacompra" />
                        <p:calendar id="invtFechacompra" pattern="MM/dd/yyyy" value="#{inventarioController.selected.invtFechacompra}" title="#{myBundle.EditInventarioTitle_invtFechacompra}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_inmueblesIdInmueble}" for="inmueblesIdInmueble" />
                        <p:selectOneMenu id="inmueblesIdInmueble" value="#{inventarioController.selected.inmueblesIdInmueble}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_inmueblesIdInmueble}" converter="inmuebleConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{inmuebleController.items}"
                                           var="inmueblesIdInmuebleItem"
                                           itemValue="#{inmueblesIdInmuebleItem}"
                                           itemLabel="#{inmueblesIdInmuebleItem.inmbDescripcion.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditInventarioLabel_invelementosIdElemento}" for="invelementosIdElemento" />
                        <p:selectOneMenu id="invelementosIdElemento" value="#{inventarioController.selected.invelementosIdElemento}" required="true" requiredMessage="#{myBundle.EditInventarioRequiredMessage_invelementosIdElemento}" converter="invelementosConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{invelementosController.items}"
                                           var="invelementosIdElementoItem"
                                           itemValue="#{invelementosIdElementoItem}"
                                           itemLabel="#{invelementosIdElementoItem.idElemento.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{inventarioController.save}" value="#{myBundle.Save}" update="display,:InventarioListForm:datalist,:InventarioListForm:InventarioDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('InventarioEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('InventarioEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
